:root {
  --principal: #fff;
  --secundario: #c0c0c0;
  --botao: #167bf7;
  --cor-fundo: #00030c;
  --botao-efeito: #3033ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--cor-fundo);
  color: var(--principal);
  font-family: "Open Sans", "icones", sans-serif; 
  font-size: 16px;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.principal {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.container__caixa{
  margin: 0 6em;
}

.container__botao {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 1em;
  color: var(--principal);
  display: block;
  margin-bottom: 1em;
}

.container__botao:hover{
  background-color: var(--botao-efeito);
}

.container__titulo{
  font-size: 28px;
  font-weight: 700;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--principal);
}

.container__aviso{
  font-size: 12px;
  color: var(--secundario);
}

.container__imagem{
  margin: 1em 0 2em 0;
}

.secundario__imagem{
  width: 80%;
}

.secundario__imagem:hover{
  transform: scale(1.1);

}

.secundario{
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo{
  font-weight: 700;
  font-size: 48px;
  color: var(--principal);
  margin-bottom: 0.1rem;
}

.descricao__texto{
  color: var(--secundario);
}

.secundario__botao{
  display: inline-block;
  margin-top: 1em;
}

.container__descricao{
  padding: 0 2rem;
}

.dispositivos__titulo{
  font-size: 48px;
  font-weight: 700;

}

.dispositivos__lista{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  border: 1px solid var(--principal);
  width: 90%;
  padding: 15px;
  border-radius: 5px;

}

.dispositivos{
  text-align: center;
  color: var(--principal);
}

.lista__item{
  font-size: 32px;
}

li:hover{
  transform: scale(1.1);
  color: var(--botao-efeito);
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}

.rodape__lista{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.lista__link{
  margin: 0 15px;
}

.lista__link a{
  color: var(--principal);
}

.rodape__texto{
  color: var(--secundario);
  font-size: 14px;
  margin: 1em 0;
}

.lista__link a:hover{
  color: var(--botao-efeito);
}